main{
    margin: auto;
}

section:first-child{
    display: flex;
    width: 90%;
    margin: auto;
}

section.more{
    padding: 2% 5%;
    font-size: 26px;
    border-radius: 50px;
    max-height: 90%;
    overflow-y: auto;
    width:60%;
    margin: auto;
    text-align: left;
    background-color: #FFBD59;
}

section.more nav{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
}

section#historique{
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    padding: 2%;
    margin: 5% 0;
    width: 90%;
    border-radius: 0 250px 250px 0;
    background-color: #4ba6c7;
    box-shadow: 15px 30px 30px rgba(53, 28, 117, 0.3);
}

section#historique p{
    width: 50%;
}

section.more img{
    width:3vw;
}

aside{
    width: 45%;
    margin:2%;
}

main div{
    margin:2% 0;
    text-align: left;
    padding: 1%;
    font-size: 24px;
    border: solid #FFE8DB;
    border-width: 0 0 5px 5px;
    border-radius: 5px 5px 5px 45px;
}

main > div {
    width: 75%;
    margin: 2% auto;
}

main p{
    margin:1%;
}

img.icon{
    width: 15%;
}

figure{
    margin: 5% auto;
    font-style: italic;
}

iframe{
    border-radius: 30px;
    border: solid #FFBD59 8px;
}

.light{
    color: #FFE8DB;
}

#stat{
    display: flex;
    align-items: center;
}

main img.illustration{
    max-width:50%;
    margin: auto;
    border-radius: 30px;
    border: solid #FFE8DB 5px;
}

img.wide{
    max-width:70%;
    margin: 5% auto;
}

