p.more{
    padding: 2% 0 2% 5%;
    font-size: 26px;
    border: solid #FFBD59 6px;
    border-radius: 50px;
    max-height: 90%;
    overflow-y: auto;
    width:80%;
    margin: auto;
    text-align: left;
}

aside{
    width: 40%;
    display: inline-block;
    margin:2%;
}

p, aside{
    margin:2% 0;
    text-align: left;
    padding: 1%;
    font-size: 24px;
    border: solid #FFE8DB;
    border-width: 0 0 5px 5px;
    border-radius: 5px 5px 5px 45px;
}

p{
    width:90%;
    margin:5% 0 0 0;
}

iframe{
    margin: 5% auto;
    border-radius: 30px;
    border-style: none;
}

img{
    max-width:50%;
    float: left;
    margin: auto;
}

img.wide{
    max-width:70%;
    float: none;
    margin: 5% auto;
}

main{
    width: 90%;
    margin: auto;
}