article.side{
    margin:5% 0;
    height: 50vh;
    width:85%;
    padding:0;
}

article{
    margin: auto;
    padding:2%;
    min-height: 500px;
    border-radius: 50px;
    height: 70vh;
    width:60%;
    background-color: #729ece;
    box-shadow: 15px 30px 30px rgba(53, 28, 117, 0.3);
}

article.side:nth-of-type(odd) {
    border-radius: 0 150px 150px 0;
}

article.side:nth-of-type(even) {
    border-radius: 150px 0 0 150px;
    margin-left: 15%;
}

section{
    width: 85%;
    margin:auto;
    height: 100%;
    display: flex;
    align-items: center;
}

section > div {
    width:100%;
    min-width:250px;
    text-align: center;
    margin-right:5%;
    background-color: #b3c6db;
    height: 100%;
}

p{
    vertical-align: middle;
    padding: 1%;
    font-size: 26px;
    border: solid #eeeeed;
    border-width: 0 0 5px 5px;
    border-radius: 5px 5px 5px 45px;
    max-height: 90%;
    overflow-y: auto;
}

section img {
    display: block;
    border: 6px solid #3465a3;
    width:60%;
    margin: auto;
    border-radius: 1000px;
}

main{
    margin:auto;
}