article{
    background-color: #729ece;
    margin:5% 0;
    width:80%;
    border-radius: 0 150px 150px 0;
    box-shadow: 15px 30px 30px rgba(53, 28, 117, 0.3);
 }

section{
    width: 80%;
    margin:auto;
    height: 600px;
    display: flex;
    align-items: center;
}

section > div {
    width:250%;
    min-width:250px;
    text-align: center;
    margin-right:10%;
    background-color: #b3c6db;
    height: 100%;
}

p{
    vertical-align: middle;
    padding: 1%;
    border: solid #eeeeed;
    border-width: 0 0 5px 5px;
    border-radius: 5px 5px 5px 45px;
    max-height: 350px;
    overflow-y: auto;
}

section img {
    display: block;
    border: 6px solid #3465a3;
    width:80%;
    margin: auto;
    border-radius: 1000px;
}

main{
    margin:auto;
}