main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

body{
    text-align: center;
}

article{
    transition:0.2s;

    width:450px;
    margin:50px 0;
    background-color: #b3c6db;
    padding: 1%;
    border-radius: 80px;
    max-width: 40%;
    box-shadow: 15px 30px 30px rgba(53, 28, 117, 0.3);
}

img{
    display: block;
    margin:auto;
    width:60%;
    border-radius: 1000px;
}

hr{
    width:80%;
}

article:hover{
    box-shadow: 17px 33px 33px rgba(53, 28, 117, 0.3);
    transform: scale(1.1);
    outline:5px solid #eeeeed;
    border-collapse: collapse;
    z-index: 1;
}

article:hover img{
    box-shadow: 17px 33px 33px rgba(53, 28, 117, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 1;
}