main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

article{
    width: clamp(475px,70vw,600px);
    margin:60px 10px;
    background-color: #9ab8d9;
    padding: 1%;
    border-radius: 80px;
    box-shadow: 15px 30px 30px rgba(53, 28, 117, 0.3), inset -13px 13px 20px #ffff;
    position: relative;
}

.more {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    padding: 5% 0 1% 0;
    border-radius: 0 0 50px 50px;
    opacity: 0;
    background: linear-gradient(to bottom, transparent, #e7a102 80%);
}

main img{
    display: block;
    margin:auto;
    width:60%;
    border-radius: 100px;
}

hr{
    width:80%;
}

article:hover{
    box-shadow: 17px 33px 33px rgba(53, 28, 117, 0.3), inset -13px 13px 50px #ffff;
    transform: scale(1.1);
    outline:5px solid #e7a102;
    border-collapse: collapse;
}

article:hover .more{
    opacity: 1;
}

article:hover img{
    filter: drop-shadow(17px 33px 15px rgba(53, 28, 117, 0.3));
    transform: scale(1.1);
}