@font-face
{
    font-family: "Futura_XBold";
    src: url("fonts/Futura Extra Black font.ttf") format("truetype");
}

@font-face
{
    font-family: "Futura_Book";
    src: url("fonts/Futura Book font.ttf") format("truetype");
}

@font-face
{
    font-family: "Futura_Bold";
    src: url("fonts/Futura Bold font.ttf") format("truetype");
}

body, html{
    margin: 0;
    background-color: #cbac12;
    font-size: 22px;
    color: #4c4c4c;
    overflow-x: clip;
}

h1{
    animation-name: title-anim;
    animation-duration: 1.5s;
    animation-fill-mode: both;

    margin:0;
    font-size: 78px;
    font-family: "Futura_XBold", serif;
}

h2{
    animation-name: name-anim;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

    font-size: 24px;
    margin:0;
    font-family: "Futura_Book", serif;
    color: #4c4c4c;
}

h3{
    font-family: "Futura_Bold", serif;
    font-size: 46px;
    margin:5%;
}

header{
    background-color: #ecd81a;
    text-align: center;
    display: flex;
    margin:0 -10%;
    margin-bottom:5%;
    position: sticky;
    height: 200px;
    top: 0;
    z-index: 1;
}

article{
     background-color: #ecd24d;
     transform: rotateZ(2deg) skew(2deg);
     margin:10% 0;
 }

section{
    width: 75%;
    margin:auto;
    height: 450px;
    display: flex;
    align-items: center;
}

section > div {
    width:250%;
    text-align: center;
    margin-right:10%;
    background-color: #f8e37a;
    height: 100%;
}

p{
    vertical-align: middle;
    padding: 1%;
    border: solid #eeeeed;
    border-width: 0 0 5px 5px;
    border-radius: 5px;
    height: fit-content;
}

section img {
    display: block;
    border: 5px solid #4b4406;
    width:80%;
    margin: auto;
}

hr{
    height:5px;
    width: 400px;
    border-width:0;
    background-color: #efefee;
    border-radius:100px;
    margin:15px auto;
}

main{
    margin:auto;
}

a{
    text-decoration: none;
    margin:0 5%;
}

header > div {
    width:100%;
 }

header > div:first-child, header > div:last-child{
    animation-name: border-anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;

    background-color: #ede71a;
    transform: skew(20deg);
}

footer {
    background-color: #806e0a;
    margin-top:5%;
}

/*----- ANIMATIONS -----*/

@keyframes name-anim {
    from{
        opacity:0;
        letter-spacing: 18px;
    }

    to{
        opacity:1;
        letter-spacing: 12px;
    }
}

@keyframes border-anim {
    from{
        opacity:0;
        margin:0 15%;
    }

    to{
        opacity:1;
        margin:0 2%;
    }
}

@keyframes title-anim {
    from{
        transform: translateY(-200%);
    }

    to{
        transform: translateY(0);
    }
}